absl-py
attrs
cffi
contourpy
cycler
flatbuffers
fonttools
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
packaging
Pillow
protobuf
pycparser
pyparsing
python-dateutil
six
sounddevice
